@import "../fonts/fontawesome-webfont.woff";
@import "../fonts/fa-brands-400.woff";
@import "../fonts/fa-regular-400.woff";
@import "../fonts/fa-solid-900.woff";
.nopadh{padding-left: 0; padding-right: 0;}
.icon_1{    
    width: 13%;
    padding: 10px 0;
    transition: ease-in-out all .3s;
    /* border: 1px solid #ddd; */
    border-top: 0;
    border-bottom: 0;
    cursor: pointer;
}
.img_wid{width: 65%; margin: 0 auto;}
.pd_bt45{padding-bottom: 45px;}
.icon_1:hover{box-shadow: 1px 2px 3px 4px rgba(155, 155, 155, 0.7); transition: ease-in-out all .3s; border-color: transparent;}
.bg_box{box-shadow: 1px 2px 3px 4px #eee;}



.wrap {
    overflow: hidden;
}

.carousel {
    display: flex;
    left: -100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    transform: translateX(100%);
}
@media (min-width: 30em) {
    .carousel {
        left: -50%;
        transform: translateX(50%);
    }
}
@media (min-width: 40em) {
    .carousel {
        left: -33.33333%;
        transform: translateX(33.33333%);
    }
}

.carousel.is-reversing {
    transform: translateX(-100%);
}
@media (min-width: 30em) {
    .carousel.is-reversing {
        transform: translateX(-50%);
    }
}
@media (min-width: 40em) {
    .carousel.is-reversing {
        transform: translateX(-33.33333%);
    }
}

.carousel.is-set {
    transform: none;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
    flex: 1 0 100%;
    order: 2;
}

@media (min-width: 30em) {
    .carousel-seat {
        flex-basis: 50%;
    }
}
@media (min-width: 40em) {
    .carousel-seat {
        flex-basis: 33.33333%;
    }
}

.carousel-seat.is-ref {
    order: 1;
}


.controls {
    padding: 2em;
    text-align: center;
}
.controls button {
    background: #aaa;
    border: 0;
    border-radius: 0.25em;
    color: #eee;
    padding: 0.5em 1em;
}
.controls button:hover, .controls button:focus {
    background: #ff3133;
}
.productinfo.prod_card{padding: 10px; background: #fff; box-shadow: 1px 2px 3px 4px rgba(227, 227, 227, 0.9);}
.single-products.pad_1015{padding: 10px 25px;}
.pd_tp35{padding-top: 20px;}
img.img_car{width: 100%;}
.product-image-wrapper.marg_bt0{margin-bottom: 0; border: 0;}
.category-products .panel-default .panel-heading:hover{background-color: #ff1c1c; color: #fff;}
.category-products .panel-default .panel-heading:hover a{color: #fff;}
.category-products .panel-default .panel-heading:hover a span{color: #fff;}
.brands-name .nav-stacked li a:hover{background-color: #ff1c1c; color: #fff;}
.icon_size{text-align: center;font-size: 45px;}
.control-carousel:focus{color: #fff; outline: none;}
.dis_fl{display: flex;}
.product-overlay .add-to-cart:hover {background: #696763; color: #fff;}
.add-to-cart1 {
    background:#F5F5ED;
    border: 0 none;
    border-radius: 0;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    width: 88%;

}
.add-to-cart1 i{
    margin-right:5px;
}

.add-to-cart1:hover {
    background: #696763;
    color: #FFFFFF;
    border: 0 none;
    border-radius: 0;
}
.recommended-item-control i:hover {
    background: #696763;
}


/*=====================================search bar================================*/

section.search-form form {
  /* font size 0 to remove inline-block whitespcae*/
  font-size: 0;
  margin: auto;
}

.inp-wrap {
  display: inline-block;
    margin-bottom: 0;
}


/* very messy "grid" styles */

[class*="grid-"] {
  vertical-align: middle;
  height: 3.125rem;
  font-size: 1.4rem;
}

.search-wrap {
  width: 50%;
}

.cat-wrap {
  width: 35%;
}

.submit-wrap {
  width: 15%;
}

.grid-20 {
  width: 20%;
}

.grid-25 {
  width: 25%;
}

.grid-75 {
  width: 75%;
}

.grid-80 {
  width: 80%;
}

.grid-100 {
  width: 100%;
}


/* input and label styles*/

section.search-form label {
  padding: 0 1rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 4.125rem;
  background: #2F2F2F;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  color: #fff;
    margin-bottom: 0;
    height: 41px;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

section.search-form label:hover {
  background: #696763;
color: #FFFFFF;
}

section.search-form .search-label {
  width: 25%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


section.search-form input,
select {
  transition: box-shadow 0.2s ease-in-out;
  border: 0;
  padding: 0 0 0 0.5em;
    height: 41px;
}

section.search-form #search-field:focus,
select:focus {
  outline: none;
  border: 0;
  box-shadow: inset 0 0 0 5px #FFC519;
}


/* select menu styles */

section.search-form .cat-wrap {
  padding: 0;
  position: relative;
  z-index: 1;
}


/* triangle */

section.search-form .cat-wrap::after {
  content: '\25BC';
  position: absolute;
  top: 10px;
  right: 0.5em;
  color: #515151;
  font-size: 1.2rem;
  pointer-events: none;
}

section.search-form select {
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
    height: 41px;
}

section.search-form option {
  margin: 0.6em 0;
}


/* search button and icon styles */


/* remove mozilla button styles */

section.search-form button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

section.search-form .btn {
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 0;
  padding: 0 0.3em 0 0;
  background: #FF1979;
  color: white;
  font-weight: 600;
  transition: background 0.25s ease-in-out;
  border-radius: 0;
    height: 41px;
    
}

section.search-form .btn:hover,
section.search-form .btn:focus,
section.search-form .btn:active {
  outline: 0;
  background: #FFC519;
  color: #232323;
}

section.search-form .btn:active {
  transform: translateY(1px);
}

.search-icon-container {
  outline: 0;
}

section.search-form #search-icon {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  outline: 0;
  fill: #fff;
}

section.search-form .btn:hover #search-icon,
section.search-form .btn:focus #search-icon {
  fill: #232323;
}

@media screen and (max-width: 820px) {
  section.search-form  .search-label {
    border-radius: 0;
  }
 section.search-form .cat-wrap {
    width: 50%;
  }
  section.search-form .submit-wrap {
    width: 50%;
    display: block;
    margin: 1rem auto 1rem;
  }
  section.search-form .btn {
    border-radius: 5px;
  }
  section.search-form {
    padding: 0 1rem;
  }
    
.dis_fl{display: block;}
}

@media screen and (max-width: 560px) {
  section.search-form .cat-wrap,
  section.search-form .search-wrap {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .grid-80 {
    width: 75%;
  }
  .grid-20 {
    width: 25%;
  }
    .icon_1{width: 50% !important;}
}
}
/*=====================================search bar================================*/

.header-bottom .navbar{margin-bottom: 0;}
.header-bottom .pad_tp0{padding-top: 0;}
.header-bottom .pd_bt0{padding-bottom: 0;}
.marg_bt0{margin-bottom: 0;}
ul.sub-menu{top: 51px;}